:root {
  --google-docs-grey: #f9fbfd;
  --calendar-border-grey: #bfbfbf;

  --primary-disabled: #a7bbb7;
  --primary-default: #58837a;
  --primary-hover: #466962;

  --secondary-disabled: rgb(196, 115, 84, .5);
  --secondary-active: #AC654A;
  --secondary-default: #DD825F;
  --secondary-hover: #C47354;



  color: #000;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('src/assets/Inter-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('src/assets/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('src/assets/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('src/assets/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('src/assets/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('src/assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('src/assets/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('src/assets/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('src/assets/Inter-Thin.ttf') format('truetype');
}

body {
  margin: 0;
}
